.leaderboardContainer {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.pageTitle {
    text-align: center;
    margin-bottom: 35px;
    font-size: 2rem;
    font-weight: 700;

    background: linear-gradient(90deg,
            #ff9800,
            #ff5722);

    -webkit-background-clip: text;

}

.leaderboardCard {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 22px;

    margin-bottom: 18px;

    border-radius: 18px;

    background: #fff;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.08);

    transition: all 0.3s ease;
}

.leaderboardCard:hover {

    transform: translateY(-4px);

    box-shadow:
        0 8px 22px rgba(0, 0, 0, 0.12);
}

.rankCircle {

    width: 60px;
    height: 60px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #f5f5f5;

    font-size: 22px;
    font-weight: bold;
}

.userInfo {
    flex: 1;
    margin-left: 20px;
}

.nameRow {

    display: flex;
    align-items: center;
    gap: 10px;
}

.nameRow h3 {
    margin: 0;
    font-size: 18px;
}

.pointsLabel {

    color: #777;

    font-size: 14px;
}

.pointsBadge {

    min-width: 110px;

    text-align: center;

    padding: 10px 16px;

    border-radius: 25px;

    background: #e8f5e9;

    color: #2e7d32;

    font-size: 18px;
    font-weight: 700;
}

.youBadge {

    padding: 5px 12px;

    border-radius: 20px;

    background: #ff9800;

    color: white;

    font-size: 11px;
    font-weight: 700;
}

/* Current User */

.currentUser {

    border: 2px solid #ff9800;

    background:
        linear-gradient(to right,
            #fff8e1,
            #ffffff);

    box-shadow:
        0 8px 20px rgba(255,
            152,
            0,
            0.25);
}

/* Top 3 Players */

.top1 {

    background:
        linear-gradient(135deg,
            #fff8e1,
            #ffffff);

    border-left: 6px solid gold;
}

.top2 {

    background:
        linear-gradient(135deg,
            #f5f5f5,
            #ffffff);

    border-left: 6px solid silver;
}

.top3 {

    background:
        linear-gradient(135deg,
            #fff3e0,
            #ffffff);

    border-left: 6px solid #cd7f32;
}

.searchBox {

    margin-bottom: 25px;

    display: flex;

    justify-content: center;

}

.searchBox input {

    width: 350px;

    padding: 12px 15px;

    border-radius: 10px;

    border: 1px solid #ddd;

    font-size: 16px;

}

.pagination {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 15px;

    margin: 30px 0;

}

.pagination button {

    padding: 10px 20px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

}